@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(../img/bg.jpg) no-repeat center/cover;
    height: 100vh;
}
.general {
    opacity: 0.902;
    width: 440px;
    margin: auto;
    /* height: 493px; */
    border-radius: 5px;
    filter: drop-shadow(0px 8px 10px rgba(0,1,1,0.26));
    background-color: #ffffff;
}
.container {
    width: 350px;
    margin: auto;
    padding: 35px 0;
}
form {
    display: flex;
    flex-direction: column;
}
h2 {
    font: bold 24px 'Open Sans', sans-serif;
    line-height: 28px;
    text-transform: uppercase;
    color: #4f4f4f;
}
.general form label {
    font: bold 14px 'Open Sans', sans-serif;
    line-height: 28px;
}
.general form>label {
    opacity: 0.800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #4f4f4f;
    margin: 30px 0 10px;
}
.general form .help {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 30px;
}
.general form .help div {
    display: flex;
    align-items: center;
}
.general form .help label {
    color: #8b8b8b;
    padding-left: 10px;
}
.general form>input {
    opacity: 0.702;
    width: 351px;
    height: 50px;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.7019607843137254);
    border: 1px solid #d8d8d8;
    padding: 20px;
    font: 300 18px 'Open Sans', sans-serif;
    color: #555;
}
.general form .help input {
    width: 21px;
    height: 21px;
    /* border-radius: 6px;
    background-color: #04a9f4; */
}
.general form .help a {
    font: bold 14px 'Open Sans', sans-serif;
    line-height: 28px;
    color: #04a9f4;
    text-align: right;
}
.general form input[type="submit"]{
    width: 352px;
    height: 55px;
    border-radius: 4px;
    border: none;
    filter: drop-shadow(0px 3px 0px #0075aa);
    background-color: #0896d7;
    font: bold 22px 'Open Sans', sans-serif;
    line-height: 28px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
.general .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.general .buttons button {
    width: 170px;
    height: 36px;
    border: none;
    border-radius: 6px;
    font: bold 14px 'Open Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
.general .buttons button:first-child {
    background-color: #3162a2;
}
.general .buttons button:last-child {
    background-color: #00aaf4;
}
